body {

    background-color: #eedbbc;
    background-image: url('./img/worldmap.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
 
 }
 
 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 h2 {
   font-family: Georgia, 'Times New Roman', Times, serif;
 }